<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default-layout}">

<div layout:fragment="content">
    <h1>포스트 수정하기</h1>

    <!-- 폼 시작 -->
    <form th:action="@{'/post/' + ${post.id} + '/edit'}" th:object="${post}" method="post">
        <!-- 제목 입력 필드 -->
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" th:field="*{title}" required>

        <!-- 내용 입력 필드 -->
        <label for="contents">컨텐츠:</label>
        <textarea id="contents" name="contents" th:field="*{contents}" required></textarea>

        <!-- 제출 버튼 -->
        <button type="submit">수정하기</button>
    </form>
</div>

</html>
